@using WorldCup.View.Model
@model IEnumerable<ContinentViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>List of Continents</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }

</table>
